body {
    background-color: #e0ebeb;
}

#server {
    position: relative;
    border: 2px solid gray;
    width: 450px;
}

#server #infobox {
    border-bottom: 1px solid gray;
    position: relative;
}

#server #infobox #hostname {
    text-align: center;
    border-bottom: 1px solid gray;
    position: relative;
}

#server #infobox #version {
    display: inline-block;
    border-right: 1px solid gray;
    position: relative;
    text-align: center;
    width: 49%;
}

#server #infobox #urldocker {
    display: inline-block;
    position: relative;
    width: 49%;
    text-align: center;
}

#server .container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;
    background-color: green;
    -webkit-transition: 1s linear;
    text-align: center;
}

#server .container:hover {
    width: 200px;
    font-size: 18px;
    border: 1px solid gray;
    height: auto;
    -webkit-transition: 1s linear;
    text-align: center;
}

#server .containerE {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto; 
    padding: 0px;
    margin: 0px;
    border: 1px solid gray;
    -webkit-transition: 1s linear;
    text-align: center;
}

#server .containerP {
    display: inline-block;
    position: relative;
    width: 200;
    margin: 0px;
    padding: 0px;
    height: auto;
    border: 1px solid gray;
    background-color: orange;
    -webkit-transition: 1s linear;
    text-align: center;
}
