<html>
    <head>
        <title> Servidores </title>
        <link rel='stylesheet' href='../static/style.css' type='text/css' media='screen'>
    </head>
    <body>
        {% for server in servers %}
            <div id="server">
                <div id="infobox">
                    <div id="hostname">
                        {{ server.get_hostname() }}
                    </div>
                    <div id="version">
                        Version: {{ server.get_versao() }} 
                    </div>
                    <div id="urldocker">
                        URL: <a href={{ server.get_docker_url() }}>{{ server.get_docker_url() }}</a>
                    </div>
	        </div> 
                {% for container in server.listContainers() %}
                    {% if container.get_status()[0] == "U" and container.paused() != True %}
      	                <div class="container">
                    {% elif container.get_status()[0] == "U" and container.paused() == True %}
                        <div class="containerP">
                    {% else %}
                        <div class="containerE">
                    {% endif %}
                        <p>{{ container.get_name() }} 
                        <p>{{ container.get_status() }}
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
